* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

/* This class is added on scroll */
.nav-fixed {
    position: fixed !important;
    top: 0 !important;
    z-index: 3;
}

.container-fluid {
    padding-top: 100px;
}

body {
    color: #333333;
    background-color: #ffffff;
    font-size: 18px;
    text-align: center;
    position: relative;
}

/* Navigation Settings */
.mag-nav {
    position: absolute;
    top: -70px;
    width: 100%;
    height: 70px;
    background: #fff;
    z-index: 2;
}

.mag-nav li {
    display: inline-block;
    padding: 15px 10px;
    margin: auto -2px;
}

.mag-nav li a {
    color: #D14563;
    text-transform: uppercase;
}

.mag-nav-xs {
    color: #FFFFFF;
    background-color: #D14563;
}

.mag-nav-xs a {
    color: #FFFFFF;
}

.mag-nav-xs h3 {
    padding-left: 15px;
    padding-right: 5px;
    margin-right: 5px;
    margin-top: 0;
    margin-bottom: 0;
    float: left;
    line-height: 70px;
}

.mag-nav-xs .mag-dropdown {
    float: right;
}

.mag-nav-xs .mag-dropdown > a {
    height: 100%;
    line-height: 70px;
    padding: 15px;
}

.mag-nav-xs .mag-dropdown > ul {
    padding-left: 0;
    padding-bottom: 0;
    background-color: #D14563;
}

.mag-nav-xs .mag-dropdown > ul > li {
    width: 100%;
    padding: 0;
}

.mag-nav-xs .mag-dropdown > ul > li > a {
    width: 100%;
    color: #ffffff;
    padding-top: 24px;
    padding-bottom: 24px;
}

.mag-nav-xs .mag-dropdown > ul > li > a:hover {
    width: 100%;
    color: #D14563;
    background-color: #ffffff;
    padding-top: 24px;
    padding-bottom: 24px;
}

section {
    height: 100vh;
    position: relative;
}

/* Screens Settings */
#screen1 {
    background: #43b29d url(/static/img/section1bg.png) repeat fixed top;
}

#screen2 {
    /*background: rgb(109, 180, 196);*/
    background-color: #ffffff;
}

#screen3 {
    background: #e1793d;
}

#screen4 {
    background: rgb(207, 111, 193);
}

#screen5 {
    background: #efc94d;
}

#screen6 {
    background: #D14563;
}

#screen7 {
    background: rgb(38, 38, 38);
}

@media only screen and (max-width: 520px) {

    nav li {
        padding: 24px 4px;
    }

    nav li a {
        font-size: 14px;
    }

}
