<div class="welcome-mask" ng-controller="welcome">
    <div class="container-fluid">
        {* name *}
        <div class="main-text hidden-xs">
            <h3>Beautiful is better than ugly.</h3>

            <p>优美胜于丑陋</p>

            <h3>Explicit is better than implicit.</h3>

            <p>明了胜于晦涩</p>
        </div>
        <div class="main-text no-padding-left visible-xs">
            <h4>Beautiful is better than ugly.</h4>

            <p>优美胜于丑陋</p>
            <h4>Explicit is better than implicit.</h4>

            <p>明了胜于晦涩</p>
        </div>
        <div class="welcome-foot hidden-xs">
            <a href="javascript:void(0)" class="ghost ghost-onebyte-65"
               ng-class="{'ghost-onebyte-anti': islike}" ng-click="like()">
                <i class="fa fa-heart-o"></i>
            </a>
        </div>
        <div class="welcome-foot no-padding-left visible-xs">
            <a href="javascript:void(0)" class="ghost ghost-onebyte-65"
               ng-class="{'ghost-onebyte-anti': islike}" ng-click="like()">
                <i class="fa fa-heart-o"></i>
            </a>
        </div>
    </div>
</div>